<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('../../layout/head')%>
        <title>Show</title>
    </head>
<body>
        <%-include('../../layout/header')%>
    <main>
        <ul>  
            <% bookInfo.forEach(obj=>{ %>
                <div>
                    <form action="/books" method="post">
                        <input type = "hidden" name = "save" value = "<%= obj.title %>" />
                        <input type = "hidden" name = "save" value = "<%= obj.author %>" />
                        <input type = "hidden" name = "save" value = "<%= obj.isbn %>" />
                        <input type = "hidden" name = "save" value = "<%= obj.image_url %>" />
                        <input type = "hidden" name = "save" value = "<%= obj.description %>" />
                        <li><%= obj.title %></li>
                        <li><%= obj.author %></li>
                        <li><%= obj.isbn %></li>
                        <li><img src="<%=obj.image_url%>"/></li>
                        <li><%= obj.description %></li>
                        <li><button type="submit">Select this Book</button></li>
                    </form>
                </div>
            <%});%>
        </ul>
    </main>
</body>
</html>