<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../layout/head')%>
    <title>Home</title>
</head>
<body>
    <%-include('../layout/header')%>
    <main id="home-main">
        <section>
            <a href="/searches/new">search</a>
            <h4><%=result.length%> Book</h4>
            <% result.forEach(book=>{%>
                <p><%= book.title %></p>
                <br>
                <img src="<%= book.image_url %>" width="150px">
                <a href="/books/<%=book.id%>">view details</a>

            <%}) %>
        </section>
    </main>
</body>
</html>